@using Persons.Core.Models

@model PersonViewModel
@{
    ViewData["Title"] = "Index";
}

@Html.Partial("PersonPartialView", Model.Person)

<div class="fixTableHead">
<table class="table table-bordered table-light table-hover usersTable">
    <thead>
        <tr>
            <th>First Name<br/>Last Name</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Age)
                    </td>
                    @using (Html.BeginForm("UpdateUser", "Person", FormMethod.Post, new { id = user.Id }))
                    {
                        <td>
                            @Html.DropDownListFor(modelItem => user.Action, 
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "Married", Value = "Married"},
                                    new SelectListItem { Text = "Single", Value = "Single"}
                                }, 
                                "-Select-", new { @class = "form-control select" })
                                @*onchange = "submit();"*@
                        </td> 
                    }
                </tr>
            }
    </tbody>
</table>
            
<div class="modal fade" id="single" aria-labelledby="singleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="singleLabel">Single Dummy Popup</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="column right">
                        :-)
                    </div>
                    <div class="column right">
                    </div>
                </div>
                <div class="row">
                    <div class="column left">
                    </div>
                    <div class="column right">
                        <input type="submit" name="btn" value="Cancel" class="btnCancel"/>
                        <input type="submit" name="btn" value="Save" id="btnSaveSingle"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="married" aria-labelledby="marriedLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="marriedLabel">Select Spouse</h5>
            </div>
            <div class="modal-body">              
                    <div class="row">
                        <div class="col-2">
                            Spouse:
                        </div>
                        <div class="col-8">
                            <input class="form-control" list="datalistOptions" id="DataList" placeholder="Type to search...">
                                <datalist id="datalistOptions">
                                @foreach(var user in Model.Users)
                                {
                                    <option value = "@user.FullName (@user.Age)" />
                                }
                            </datalist>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column third">
                            <input type="submit" name="btn" value="Cancel" class="btnCancel"/>
                            <input type="submit" name="btn" value="Save" id="btnSaveMarried"/>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
$(function () {

    $('.select').change(function () {

        if ($(this).val() == "Single") {
            $('#single').modal('show');          
        }

        if ($(this).val() == "Married") {
            $('#married').modal('show');
        }
       
        $(this).addClass('chosen')
    });

    $('.btnCancel').click(function() {
        $('.form-select').val("select");
        $('.modal').modal('hide');
        $('select.chosen').removeClass('chosen')
    });

    $('#btnSaveSingle').click(function() {
        $('#single').modal('hide');
        const element = $('select.chosen');

        $(element).prop('disabled', true);
        $(element).removeClass('chosen');
        
    });
   
    $('#btnSaveMarried').click(function() {
        const element = $('select.chosen');
        const text = (element).find('option[value="Married"]').text() + ' (' + $('#DataList').val().replace(/([0-9(])/g, '');
        (element).find('option[value="Married"]').text(text)
        
        $(element).prop('disabled', true);
        $(element).removeClass('chosen');

        $('#married').modal('hide');

        $('#DataList').val('');
    });        
});
</script>
