@using Persons.Core.Models

@model PersonViewModel
@{
    ViewData["Title"] = "Index";
}

@Html.Partial("PersonPartialView", Model.Person)

<div class="fixTableHead">
    <table class="table table-bordered table-light table-hover usersTable">
        <thead>
            <tr>
                <th>First Name<br/>Last Name</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td class="nameColumn">
                            @Html.DisplayFor(modelItem => user.FullName)
                        </td>
                        <td class="ageColumn">
                            @Html.DisplayFor(modelItem => user.Age)
                        </td>
                        <td class="actionColumn">
                            @using (Html.BeginForm("UpdateUser", "Person", FormMethod.Post))
                            {
                                @Html.HiddenFor(modelItem => user.Id)                         
                                @Html.DropDownListFor(modelItem => user.Action, 
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "-Select-", Value = "-Select-"},
                                        new SelectListItem { Text = "Married", Value = "Married"},
                                        new SelectListItem { Text = "Single", Value = "Single"}
                                    }, 
                                    new { @class = "form-control select" })
                            }
                        </td> 
                    </tr>
                }
        </tbody>
    </table>
</div>

<div class="modal fade" id="single" aria-labelledby="singleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="singleLabel">Single Dummy Popup</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="column right">
                        :-)
                    </div>
                    <div class="column right">
                    </div>
                </div>
                <div class="row">
                    <div class="column left">
                    </div>
                    <div class="column right">
                        <input type="button" name="btn" value="Cancel" class="btnCancel"/>
                        <input type="button" name="btn" value="Save" id="btnSaveSingle"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="married" aria-labelledby="marriedLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="marriedLabel">Select Spouse</h5>
            </div>
            <div class="modal-body">              
                    <div class="row">
                        <div class="col-2">
                            Spouse:
                        </div>
                        <div class="col-8">
                            
                            @using (Html.BeginForm("UpdateUser", "Person", FormMethod.Post))
                            {
                                @Html.DropDownList("user.Action", Model.DropDownList , "Select", new { name = "user.Action", id="DataList" })
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="column third">
                            <input type="submit" name="btn" value="Cancel" class="btnCancel"/>
                            <input type="submit" name="btn" value="Save" id="btnSaveMarried"/>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
