@*@model IEnumerable<Persons.Core.Models.Person>
@{
    ViewData["Title"] = "Index";
}*@

@model IEnumerable<Persons.Core.Models.User>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#addPerson">
        Add
    </button>
</div>

@*<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => person.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.Address)
                </td>
            </tr>
        }
    </tbody>
</table>*@


<table class="table table-bordered table-light table-hover">
    <thead>
        <tr>
            <th>First Name<br/>Last Name</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Age)
                </td>
                <td>
                    <select class="form-select form-select-xs mb-3" aria-label=".form-select-xs example">
                        <option selected>Select</option>
                        <option value="Married">Married</option>
                        <option value="Single">Single</option>
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>


@await Html.PartialAsync("PersonPartialView", new Persons.Core.Models.Person())






















@*<div class="container p-3">
    <div class="row pt-4">
        <div class="col-12">
            <a asp-controller="Person" asp-action="Add" class="btn btn-primary">
                Add
            </a>
        </div>       
    </div>
</div>*@

@*<div id="PlaceHolderHere"></div>

<div class="container p-3">
<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addPerson"
    data-url="@Url.Action("Add")">Add</button>
</div>

<table class="table table-bordered table-striped" style="width:60%">
    <thead>
        <tr>
            <th>
                First Name 
                <br/>
                Last Name
            </th>
            <th>
                Age
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="20%">
                    @obj.FirstName @obj.LastName
                </td>
                <td width="20%">
                    @obj.BirthDate
                </td>
            </tr>
        }
    </tbody>
</table>*@